<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37313398389-4rabfjulbhno64sh57c8omemp8b2ma73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37313398389-4rabfjulbhno64sh57c8omemp8b2ma73</string>
	<key>API_KEY</key>
	<string>AIzaSyC36VSN1Ksqa4kcOnEADJ7ZoMx35qr7e1o</string>
	<key>GCM_SENDER_ID</key>
	<string>37313398389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-60de6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-60de6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37313398389:ios:7117aad231d4fa960c1a3c</string>
</dict>
</plist>